main{
    flex-grow: 1;
}
.order{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.order h2{
    color:rgb(243, 243, 243);
    font-size: 2rem;
    margin: 5vh 0;
}
.order ul{
    list-style-type: none;
}