@media (min-width: 1281px) {
  
    html{
        font-size: 22px;
    }
    .battle{
        justify-content: space-around;
    }
    .hero section{
      width: 45%;
    }
    
  }

  @media (min-width: 1025px) and (max-width: 1280px) {
    
    html{
        font-size: 20px;
    }
    
  }
  

  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
   html{
       font-size: 18px;
   }
   .orderElement{
        width: 45vw;
   }
  }
  
  @media (min-width: 481px) and (max-width: 767px) and (orientation: landscape) {
    
    html{
        font-size: 12px;
    }
    .orderElement{
        width: 45vw;
    }
    .hero section{
        height: 35vh;
    }
    .battle section{
      max-width: 40%;
    }
  }
  
  @media (orientation: portrait) {
    
    .blockPage{
        display: block;
    }
    .battle{
      display: none;
    }
    main{
      display: none;
    }
  }