*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.blockPage{
    position: fixed;
    top:0;
    left:0;
    height: 100vh;
    width: 100vw;
    padding: 10%;
    font-size: 2rem;
    color: white;
    background-color: rgb(32, 31, 31);
    z-index: 99;
    text-align: center;
    display: none;
}
.fa-sync-alt{
    margin: 3%;
    font-size: 5rem;
}
.App{
    display: flex;
    min-height: 100vh;
    background-image: url('./img/backgroundhome.jpg');
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
    position: relative;
}
nav{
    margin-left: 15px;
    display: flex;
    flex-direction: column;
}
nav section {
    margin-top: 5vh; 
}
nav ul{
    list-style: none;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}
nav ul a{
    width: 4.5rem;
    height: 4.5rem;
    margin-top: 5vh;
    text-align: center;
    background-color: rgb(67, 97, 110);
    text-decoration: none;
    border: 1px solid black;
    background-size: cover;
    background-position: center;
    border-radius: 5px;
    box-shadow: 0 0 5px  rgb(46, 64, 73);
    transition: .3s;
}

.buttonMenu:nth-child(1){
    background-image: url('./img/witcherpic.jpg');
    background-size: 80%;
    background-repeat: no-repeat;
}
.buttonMenu:nth-child(2){
    background-image: url('./img/shop.png');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position: 50% 80%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding: 5px;
    font-size: .7rem;
    color:rgb(83, 163, 197);
    text-shadow: 0 0 1px rgb(88, 185, 226);
    text-transform: uppercase;
}
.buttonMenu:nth-child(3){
    background-image: url('./img/battle.png');
}
.buttonMenu:hover{
    background-color: rgb(94, 170, 202);
    box-shadow: 0 0 5px 5px rgb(86, 127, 148);
    color:rgb(24, 35, 39);
    text-shadow: 0 0 1px rgb(74, 119, 138);
}
.buttonMenu.active{
    background-color: rgb(94, 170, 202);
    box-shadow: 0 0 5px 5px rgb(86, 127, 148);
    color:rgb(24, 35, 39);
    text-shadow: 0 0 1px rgb(74, 119, 138);
}
main{
    font-family: 'Fira Sans', sans-serif;
}